<div class="container text-center mt-3">
  <h1>Score page</h1>
  <h3>You submitted: <%= params[:word] %></h2>
  <%= @score_message %>
</div>

<div class="container text-center mt-3">
  <%= link_to 'Play again', new_path %>
</div>
